<div class="card white">
  <div class="card-content white black-text">
        <span class="card-title">
          <a routerLink="/profiles/{{ kweet.author.id }}">
            @{{ kweet.author.username }}</a><br/>
        </span>
    <p>
      {{ kweet.textContent }}<br/>
      <span style="font-size: small">{{ kweet.date | amTimeAgo: 'minutes' }}</span>
    </p>
  </div>
  <div class="card-action">
    <a href="javascript:void(0)" class="card-action-link">Like</a>
    <a href="javascript:void(0)" class="card-action-link">Rekweet</a>
  </div>
</div>
