<div class="card white">
  <div class="card-content white black-text">
        <span class="card-title">
          <a routerLink="/profiles/{{ kweet.author.id }}">
            @{{ kweet.author.username }}</a><br/>
        </span>
    <p>
      {{ kweet.textContent }}<br/>
      <span style="font-size: small">{{ kweet.date | amTimeAgo: 'minutes' }}</span>
    </p>
  </div>
  <div class="card-action" *ngIf="loginService.isLoggedIn()">
    <a (click)="toggleLike()" href="javascript:void(0)" class="card-action-link">
      <i *ngIf="kweet.hasLiked(loginService.getLoginInfo())" class="material-icons">favorite</i>
      <i *ngIf="!kweet.hasLiked(loginService.getLoginInfo())" class="material-icons">favorite_border</i>
    </a>
    <a href="javascript:void(0)" class="card-action-link">
      <i class="material-icons">repeat</i>
    </a>
  </div>
</div>
