<div class="row">
  <div class="col offset-s3 s6">
    <div class="card white black-text">
      <div class="card-content">
        <span class="card-title">Manage your account</span>
        <form (submit)="saveChanges()">
        <p>
          <app-load *ngIf="isSavingChanges" [loadSentences]="['This is a test', 'Another test']"></app-load>

          <input *ngIf="!isSavingChanges" placeholder="Change your email address" type="text" class="validate" [(ngModel)]="email" [email]="true" required/>
          <input *ngIf="!isSavingChanges" placeholder="Change your username" type="text" class="validate" [(ngModel)]="email" [email]="true" required/>
          <input *ngIf="!isSavingChanges" placeholder="Change your displayname" type="text" class="validate" [(ngModel)]="email" [email]="true" required/>
          <button type="submit" class="btn kweeter-accent-color">Save changes</button>
        </p>
        </form>
      </div>
    </div>
  </div>
</div>

