<div class="row">
  <div class="col offset-s3 s6">
    <div class="card white black-text">
      <div class="card-content">
        <span class="card-title">Login</span>
        <p>
          <app-load *ngIf="isSavingChanges" [loadSentences]="['This is a test', 'Another test']"></app-load>
          <input *ngIf="!isSavingChanges" placeholder="Enter your email address" type="text" class="validate"
                 [(ngModel)]="email" [email]="true" (keyup)="formKeyUp($event)"/>
          <button *ngIf="!isSavingChanges" class="btn btn-primary kweeter-accent-color" (click)="login()"
                  style="margin-top: 25px;">
            Login
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

