<div (blur)="searchService.clearResults()">
  <form (submit)="commitSearch()">
    <div class="input-field">
      <input id="search" class="validate search" type="search" name="search" (keyup)="refreshSearchCountdown()"
             [(ngModel)]="searchQuery" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons" (click)="searchService.clearResults()">close</i>
    </div>
  </form>
  <div class="row" *ngIf="searchService.hasSearchResult">
    <div class="collection">
      <a *ngFor="let searchResult of searchService.lastSearchResult | async"
         [routerLink]="searchResult.linkTo" (click)="searchService.clearResults()"
         class="collection-item">
        <p>{{ searchResult.asString }}</p>
      </a>
    </div>
  </div>
</div>
