<div class="row">
  <div class="col offset-s3 s6">
    <div class="card white black-text">
      <div class="card-content">
        <span class="card-title">Registration</span>
        <p>
          <app-load *ngIf="isLoggingIn"
                    [loadSentences]="['Contacting the registration office', 'Creating your account']"></app-load>
          <input *ngIf="!isLoggingIn" placeholder="Enter your email address" type="text" class="validate materialize-textarea"
                 [(ngModel)]="profile.email" [email]="true" (keyup)="formKeyUp($event)" required=""/>

          <input *ngIf="!isLoggingIn" placeholder="Enter a username" type="text" class="validate materialize-textarea"
                 [(ngModel)]="profile.username" (keyup)="formKeyUp($event)" required=""/>

          <input *ngIf="!isLoggingIn" placeholder="Enter a display name" type="text" class="validate materialize-textarea"
                 [(ngModel)]="profile.displayName" (keyup)="formKeyUp($event)" required=""/>

          <input *ngIf="!isLoggingIn" aria-multiline="true" placeholder="Enter a bio" type="text" class="validate materialize-textarea"
                 [(ngModel)]="profile.bio" (keyup)="formKeyUp($event)"/>

          <input *ngIf="!isLoggingIn" placeholder="Enter a contact url" type="url" class="validate materialize-textarea"
                 [(ngModel)]="profile.contactLink" (keyup)="formKeyUp($event)"/>

          <input *ngIf="!isLoggingIn" placeholder="Enter a contact password" type="text"
                 class="validate materialize-textarea"
                 [(ngModel)]="profile.password" (keyup)="formKeyUp($event)"/>

          <button *ngIf="!isLoggingIn" class="btn btn-primary" (click)="attemptRegistration()"
                  style="margin-top: 25px;">
            Register
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

