<div>
  <app-load *ngIf="profile === undefined"></app-load>
  <div class="col s4" *ngIf="profile !== undefined">
    <div class="row">
      <div class="col s12">
        <div class="card blue darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ profile.displayName }}</span>
            <p>
              @{{ profile.username }}<br/>
              "{{ profile.bio }}"
            </p>
            Website: <a target="_blank" class="white-text" href="{{ profile.contactLink }}">{{ profile.contactLink
            }}</a><br/>
            Email: <a class="white-text" href="mailto:{{ profile.email }}">{{ profile.email }}</a><br/>
            <span *ngIf="profile.location">Location: {{ profile.location }}<br/></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s8">
    <app-view-kweets [kweets]="kweets"></app-view-kweets>
  </div>
</div>

