@import "~materialize-css/sass/materialize.scss";
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.kweeter-spinner {
  border-color: $accent-color;

}

.nav-wrapper {
  @extend .nav-wrapper;
  background-color: $primary-color;
  color: $primary-text-color;
}

.btn-primary {
  @extend .btn-primary;
  background-color: $accent-color;
  color: $primary-color-text;

  &:focus, &:hover {
    background-color: lighten($accent-color, 7%);
  }
}

.card-action {
  color: $accent-color;
}

.dropdown-content-link {
  color: $primary-color-dark !important;
}

.materialize-textarea {
  @extend .materialize-textarea;
  border-bottom: 1px solid $accent-color!important;
  box-shadow: 0 1px 0 0 $accent-color!important;
  &:focus, &:hover, &:active {
    border-bottom: 1px solid darken($accent-color, 12%)!important;
  }
}

.toast {
  color: $primary-color-light;
}

.kweeter-primary-color {
  background-color: $primary-color;
}

.kweeter-primary-color-dark {
  background-color: $primary-color-dark;
}

.kweeter-primary-color-light {
  background-color: $primary-color-light;
}

.kweeter-primary-color-text {
  color: $primary-color-text;
}

.kweeter-accent-color {
  background-color: $accent-color;
}

.kweeter-accent-color-text {
  color: $accent-color;
}

.kweeter-primary-text-color {
  color: $primary-text-color;
}

.kweeter-secondary-text-color {
  color: $secondary-text-color;
}

.kweeter-divider-color {
  background-color: $divider-color;
}
